// fonts

$fancyfont: 'Creepster', cursive;
$bodyfont: 'Roboto', sans-serif;

// colors
$accent: hsl(0, 86%, 25%);
$darkaccent: darken($accent, 30%);
$lightaccent: lighten($accent, 30%);
$bgcolor: rgba(170, 169, 169, 0.3);

// animations

@keyframes carat {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(-80%);
  }
}