.Header {
  h1 {
    display: inline;
    grid-area: title;
    font-family: $fancyfont;
    font-size: 4rem;
    margin: auto;
  }

  nav {
    color: darken($accent, 30%);
    font-family: $fancyfont;
    font-size: 1.5rem;
    display: grid;
    grid-template-areas: ". title title login";
    grid-template-columns: 25%;

    a {
      color: white;
      border: 3px solid transparent;
      padding: 10px;
      &:hover {
        border: 3px solid $accent;
        color: $accent;
      }
    }

    .active {
      border: 3px solid $accent;
      color: $accent;
    }
  }

  img {
    width: 5.5rem;
  }
  
  div {
    grid-area: login;
    margin-top: 1.5rem;
    text-align: center;
  }
}

.title {
  grid-area: title;
  margin: auto;
}